
<div id="rightbox">

    <table width="100%" cellspacing="0" border="0">
        <tr>
            <td align="center" style="font-size: 25px; font-weight: bold; color: #900; font-family: Arial, Helvetica, sans-serif">
                eCRF Portal
            </td>
        </tr>
    </table>
    <br />
    <div style="padding-left: 10px">
        <a href="../Default.aspx">
            <img src="../images/home_flag.png" />
        </a>
    </div>
    <div style="text-align: center; margin: 0 auto; width: 100%;">
        <div class="error">


            <a href="#">
                <img src="~/images/add_patient_button.png">
            </a>


        </div>
        <div class="error">
            <span id="lblMssg"></span>
        </div>
    </div>
    <div style="text-align: center; margin: 0 auto; width: 100%;padding-left:5px; padding-right:5px;">

        <table cellpadding="5">
            <tr>
                <td></td>
            </tr>
        </table>

        <br />
        <div>
            <span id="lblResult"></span>

        </div>
    </div>

</div>