<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="CholestabetesEntities" connectionString="metadata=res://*/Cholestabetes.csdl|res://*/Cholestabetes.ssdl|res://*/Cholestabetes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHRCWEBDEV2\CHRC_TEST;initial catalog=Cholestabetes;persist security info=True;user id=sa;password=df96e1p!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CholestabetesEntities1" connectionString="metadata=res://*/Cholestabetes.csdl|res://*/Cholestabetes.ssdl|res://*/Cholestabetes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KHAN-PC;initial catalog=Cholestabetes;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>