@{
    ViewBag.Title = "MOU";
    Layout = "~/Views/Shared/_Layout_Demo.cshtml";
}

<!-- banner & title -->
@*<div class="bannerContainer">
        <img src="../assets/images/headers/1.jpg" class="banner">
    </div>*@
<h2 class="pageTitle"><span>MOU Agreement</span></h2>
<div class="shadow1box">
    <img src="../assets/images/shadow1.png" class="shadow1" alt="shadow">
</div>
<!-- /banner & title -->



<div class="content-padd">

    <h3>1 Column Layout</h3>

    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>


    <div id="rightbox">
        <table width="100%" cellspacing="0" border="0">
            <tr>
                <td align="center" style="font-size: 25px; font-weight: bold; color: #900; font-family: Arial, Helvetica, sans-serif">
                    MEMORANDUM OF UNDERSTANDING (MOU)
                </td>
            </tr>
        </table>
        <br />
        <div style="padding-left: 10px">
            <a href='@Url.Action("Index", "Home")'>
                <img src="~/assets/images/nav-icons/home.png" />
            </a>
        </div>
        <div style="background-image: url(images/watermark.png); padding: 20px; background-repeat: no-repeat;
            font-family: Arial, Helvetica, sans-serif; font-size: 14px">
            <table width="100%" border="0" bgcolor="#CC0000" cellpadding="10"></table>
            <table width="90%" border="0" align="center" cellpadding="10" bgcolor="#CCCCCC">
                <tr>
                    <td bgcolor="#000000">
                        <span style="color: #FFF; font-size: 30px">INSTRUCTIONS</span>
                    </td>
                </tr>
                <tr>
                    <td height="166">
                        <ul>
                            <li>
                                Acknowledging that you have reviewed and agree to the terms of the MOU is a mandatory
                                requirement
                            </li>
                            <li>Please review the MOU in its entirety by scrolling to the end of the form.</li>
                            <li>
                                Once you have reviewed the MOU, check the "Agree to Terms" box and click the "Submit"
                                button
                            </li>
                            <li>
                                Once the MOU is completed, the status in your dashboard will change to a checkmark
                                (<img src="../images/check.png" />)
                            </li>
                    </td>
                </tr>
            </table>
            <br />
            <br />
            <table width="90%" border="1" bordercolor="#000000" bgcolor="#FFFFFF" cellpadding="15"
                   align="center" style="font-size: 12px;">
                <tr>
                    <td>
                        Thank you for agreeing to participate in the <strong>CHOLEST</strong>erol lowering
                        in type 2 di<strong>ABETES</strong> <strong>Q</strong>uality<strong> E</strong>nhancement
                        <strong>R</strong>esearch <strong>I</strong>nitiative <strong>(CHOLESTABETES QuERI)</strong>
                        Program. The CHOLESTABETES QuERI is coordinated by the Canadian Heart Research Centre
                        ("CHRC"), and supported through an Investigator initiated grant from Valeant Canada
                        Inc. ("Sponsor").<br />
                        <br />
                        Please review the following information and make yourself familiar with the CHOLESTABETES
                        QuERI program as well as your expected role as a program participant and the CHRC
                        as the coordinating centre.<br />
                        <br />
                        <span style="text-decoration: underline; font-weight: bold">CHOLESTABETES QuERI:</span><br />
                        <br />
                        The CHOLESTABETES QuERI is an observational quality enhancement research initiative
                        which provides guideline‐based management strategies and feedback to physicians
                        caring for patients with Type 2 Diabetes Mellitus (T2DM) who have not yet achieved
                        guideline‐ recommended LDL-C and A1C targets. The decision to follow recommendations
                        and all treatment decisions are left to the participating physician's discretion.<br />
                        <br />
                        <strong>Participating physicians will have the following responsibilities:</strong><br />
                        <br />
                        <ul style="list-style-image: url(../images/check.png)">
                            <li>
                                Read and understand this MOU and the CHOLESTABETES QuERI program materials, timelines
                                and ensure that all person(s) in your practice who may be associated with the CHOLESTABETES
                                QuERI program also understand these materials;
                            </li>
                            <li>
                                Maintain chart notes that were used for the CHOLESTABETES QuERI submitted data until
                                you are notified by the CHRC that the program is completed;
                            </li>
                            <li>
                                Complete the e-CRFs and feedback forms on patients that meet the program eligibility
                                criteria in adherence with the program timelines;
                            </li>
                            <li>
                                Obtain and retain a copy of an Informed Consent Form for each eligible patient included
                                in the program;
                            </li>
                            <li>
                                To provide a copy of a current curriculum vitae and medical license if requested
                                from the CHRC;
                            </li>
                            <li>
                                Exercise reasonable and diligent efforts and professional expertise in the conduct
                                and completion of the program documents in an efficient and timely manner and in
                                compliance with the program instructions:<br />
                                <br />
                                <span style="text-decoration: underline; font-weight: bold">Program Components:</span>
                            </li>
                            <br />
                            <ul style="list-style: circle;">
                                <li>Needs Assessment Survey</li>
                                <li>Visit 1 (Baseline Visit) </li>
                                <li>Visit 2 (14±6 weeks) </li>
                                <li>Visit 3 (24±6 weeks)</li>
                            </ul>
                            <br />
                            <br />
                            <li>Be available to answer data queries.</li>
                        </ul>
                        <strong>The CHRC will have the following responsibilities:</strong>
                        <br />
                        <ul style="list-style-image: url(../images/check.png)">
                            <li>Provide all the necessary program materials to the participating physician;</li>
                            <li>
                                Be available to answer questions in relation to the CHOLESTABETES program documents,
                                instructions and/or the completion of the e-CRF/Feedback Forms;
                            </li>
                            <li>
                                Provide physicians with remuneration for properly completed forms as following:
                                <br />
                                <br />
                                <ul style="list-style: circle;">
                                    <li>
                                        Visit 1 (Baseline Visit) - $125.00 per interactive e-CRF (up to $625.00 for 5 interactive
                                        e-CRFs)
                                    </li>
                                    <li>
                                        Visit 2 (14±6 weeks) - $ 75.00 per interactive e-CRF (up to $375.00 for 5 interactive
                                        e-CRFs)
                                    </li>
                                    <li>
                                        Visit 3 (24±6 weeks) - $ 50.00 per interactive e-CRF (up to $250.00 for 5 interactive
                                        e-CRFs)
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <strong>General:</strong>
                        <ul style="list-style-image: url(../images/check.png)">
                            <li>
                                By participating in the CHOLESTABETES QuERI the relationship of the physician to
                                the CHRC is that of an independent contractor. Physician shall have no authority
                                to make agreements with third parties that are binding on the CHRC.
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
            <div style="text-align: center; font-size: 11px; padding: 10px">
                To view/print this document, please click <a href="../PDF/CHOLESTABETES QuERI Memorandum of Understanding Final.pdf"
                                                             target="_blank">here</a>.
            </div>
        </div>
        <div>
            <table width="90%" cellpadding="15" align="center" style="font-size: 12px; border: 2px solid #CC0000;"
                   bordercolor="#CC0000">
                <tr>
                    <td>
                        <strong>Agree to Terms:</strong>
                        <br />
                        <br />
                        <table width="100%" border="0">
                            <tr>
                                <td valign="top">
                                    @*<div data-role="fieldcontain">
                                        <fieldset data-role="controlgroup">
                                            <input value="true" type="checkbox" name="chkMOUTerms2" id="chkMOUTerms2" class="custom" />
                                        </fieldset>
                                    </div>*@


                                    



                                </td>
                                <td>
                                    I have read and agree to the terms of the Memorandum of Understanding and certify
                                    that I hold a valid license to practice medicine in Canada.
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br />
            <br />
            <table width="90%" border="0" align="center" style="padding-bottom: 10px;">
                <tr>
                    <td align="center">
                        <asp:Label runat="server" ID="lblMssg" CssClass="info" />
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <asp:Button ID="btnSubmit" runat="server" CssClass="btnSubmit" OnClick="btnSubmit_Click" />
                    </td>
                </tr>
            </table>
        </div>
    </div>


 

</div>

<fieldset style="border: solid 1px grey;padding:5px;" class="fs">
    <legend>Patient's consent to participate</legend>
    <div class="editor-label">

    </div>
    <div class="editor-field">

        <div data-role="fieldcontain">

            <fieldset data-role="controlgroup">
                <input type="checkbox" class="custom"
                       value="true" />
                <label for="chkHighRisk1">Yes</label>
            </fieldset>
        </div>

    </div>
</fieldset>




