
@section scripts
{
    <script type="text/javascript">

        

            $(document).ready(function () {


                //$('#btn').datepicker({

                //    altField: $('#txtDate'),

                //    numberOfMonths: 1,
                //    changeMonth: true,
                //    changeYear: true,

                //    yearRange: "2000:2016"

                //});

                $('#txtDate').datepicker({

                    altField: $('#txtDate'),

                    numberOfMonths: 1,
                    changeMonth: true,
                    changeYear: true,

                    yearRange: "2000:2016"

                });

            });


            function pageLoad() { }


    </script>
}



<input type="text" id="txtDate" class="cc" />
<button id="btn"></button>


