<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="emailGeneral" value="khanm@chrc.net" />
        <add key="smtpServer" value="smtp.exchange.telus.com" />
        <add key="smtpUser" value="webmaster@chrc.net" />
        <add key="smtpPassword" value="1chrc23" />
        <add key="smtpPort" value="25" />
  </appSettings>
    <connectionStrings>
        <add name="CholestabetesEntities" connectionString="metadata=res://*/Cholestabetes.csdl|res://*/Cholestabetes.ssdl|res://*/Cholestabetes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHRCWEBDEV2\CHRC_TEST;initial catalog=Cholestabetes;persist security info=True;user id=sa;password=df96e1p!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
        <add name="ErrorLog" connectionString="Data Source=CHRCWEBDEV2\CHRC_TEST;;Initial Catalog=Cholestabetes;User Id=sa;Password=df96e1p!" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>