/* DEFAULTS---*/

 /*
body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


 


h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

//this rule styles <h1> and <h2> tags that are the 
//first child of the left and right table columns 
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


// PRIMARY LAYOUT ELEMENTS  


.page
{
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


//TAB MENU 


div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

// FORM ELEMENTS    


fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

// MISC   


.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

*/

 


 

 
html {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-image: url(../images/backgroundimage.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
#wrapper{
	width: 1100px;
	margin-right: auto;
	margin-left: auto;
}
#header{
	background-color: rgba(255, 255, 255, 0.8);
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 0px 0px 25px 25px;
}
#portal{
	margin-bottom: 170px;
	text-align: right;
	padding-right: 20px;
	padding-left: 20px;
}
#body{
	background-color: rgba(255, 255, 255, 0.8);
	padding: 35px;
	border-radius: 25px 25px 0px 0px;
}
#left{
	float: left;
	width: 320px;
}
#right{
	float: left;
	width: 700px;
}
#content{
	background-color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	
	
	margin-left: 20px;
}
#footer{
	padding-top: 20px;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #666;
	margin-top: 20px;
}
.whitesmall{
	font-size: 9px;
	color: #FFF;
}
.whitemedium{
	font-size: 13px;
	color: #FFF;
}
 
 
 
        .classname
        {
            -moz-box-shadow: inset 0px 1px 0px 0px #f5978e;
            -webkit-box-shadow: inset 0px 1px 0px 0px #f5978e;
            box-shadow: inset 0px 1px 0px 0px #f5978e;
            background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
            background: -moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
            background-color: #f24537;
            -webkit-border-top-left-radius: 38px;
            -moz-border-radius-topleft: 38px;
            border-top-left-radius: 38px;
            -webkit-border-top-right-radius: 38px;
            -moz-border-radius-topright: 38px;
            border-top-right-radius: 38px;
            -webkit-border-bottom-right-radius: 38px;
            -moz-border-radius-bottomright: 38px;
            border-bottom-right-radius: 38px;
            -webkit-border-bottom-left-radius: 38px;
            -moz-border-radius-bottomleft: 38px;
            border-bottom-left-radius: 38px;
            text-indent: 0px;
            border: 1px solid #d02718;
            display: inline-block;
            color: #ffffff;
            font-family: Arial;
            font-size: 15px;
            font-weight: bold;
            font-style: normal;
            height: 34px;
            line-height: 34px;
            width: 135px;
            text-decoration: none;
            text-align: center;
            text-shadow: 1px 1px 0px #810e05;
        }
        .classname:hover
        {
            background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
            background: -moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
            background-color: #c62d1f;
        }
        .classname:active
        {
            position: relative;
            top: 1px;
        }
        
        
        .assesmentSurveyHeader
        {
	            background-image: url(../images/assesment_header.png);
	            background-repeat: no-repeat;
	             background-size: 100% 100px;
	            background-position: center center;
	            padding:0;
	            margin:0;
	            height:100px;
	            width:100%;
	            margin-bottom:10px;
	            
        }
        
        
          .assesmentSurveyFooter
        {
	            background-image: url(../images/assesment_footer.png)     ;
	            
	            
                 background-repeat:no-repeat;
	            background-position: center center;
	            padding:0;
	            margin:0;
	            height:100px;
	            width:100%;
	            margin-bottom:10px;
	            
        }
        
        .assesQuestion 
        {
             color: #840A16 ;
             font-family:  'Calibri';
            
            
        }
        
        
         .assesAnswer
        {
             font-size:12px;
             color:Black;
        }
        
        
        .actionItem  
        
        {
               color:Black;
             text-decoration:none;
       
        }
        
        
         #rightbox
        {
            width: 700px;
            border: medium solid #000;
            background-image: url(../images/header.png);
            padding-top: 25px;
            background-repeat: no-repeat;
            background-color: #F9F9F9;
        }
        
        
        .btnSubmit
        {
            border: none 1px black;
             background-color:transparent;
            background-image: url(../images/submit.png);
            width: 136px;
            height: 43px;
            background-repeat: no-repeat;
            background-position: center center;
             cursor:pointer;
        }
        
        
           .btnSubmit_Yellow
        {
            border: none 1px black;
             background-color:transparent;
            background-image: url(../images/nextbutton.png);
            width: 136px;
            height: 43px;
            background-repeat: no-repeat;
            background-position: center center;
             cursor:pointer;
        }
        
        
         .nextBtn
        {
            border: none 1px black;
             background-color:transparent;
            background-image: url(../images/next_button.png);
            width: 136px;
            height: 43px;
            background-repeat: no-repeat;
            background-position: center center;
             cursor:pointer;
        }
        
        
          .nextScreen
        {
            border: none 1px black;
             background-color:transparent;
            background-image: url(../images/next_button.png);
            width: 136px;
            height: 43px;
            background-repeat: no-repeat;
            background-position: center center;
             cursor:pointer;
        }
        
        
           .PrevScreen
        {
            border: none 1px black;
             background-color:transparent;
            background-image: url(../images/back_button.png);
            width: 136px;
            height: 43px;
            background-repeat: no-repeat;
            background-position: center center;
             cursor:pointer;
        }
        
        
        .registerBtn
         {
            border: none 1px black;
             background-color:transparent;
            background-image: url(../images/register_button.png);
            width: 136px;
            height: 43px;
            background-repeat: no-repeat;
            background-position: center center;
             cursor:pointer;
        }
        .confirmBtn
         {
            border: none 1px black;
             background-color:transparent;
            background-image: url(../images/confirm_button.png);
            width: 136px;
            height: 43px;
            background-repeat: no-repeat;
            background-position: center center;
             cursor:pointer;
        }
        
        .completeBtn
          {
            border: none 1px black;
             background-color:transparent;
            background-image: url(../images/complete_button.png);
            width: 136px;
            height: 43px;
            background-repeat: no-repeat;
            background-position: center center;
             cursor:pointer;
        }
        
        
         .NotMeBtn
         {
            border: none 1px black;
             background-color:transparent;
            background-image: url(../images/not_me_button.png);
            width: 136px;
            height: 43px;
            background-repeat: no-repeat;
            background-position: center center;
             cursor:pointer;
        }
        
        .BackBtn
        {
            border: none 1px black;
             background-color:transparent;
            background-image: url(../images/back_button.png);
            width: 136px;
            height: 43px;
            background-repeat: no-repeat;
            background-position: center center;
             cursor:pointer;
        }
       
        
        .CancelButton
        {
            border: none 1px black;
             background-color:transparent;
            background-image: url(../images/Cancel_button.png);
            width: 136px;
            height: 43px;
            background-repeat: no-repeat;
            background-position: center center;
            cursor:pointer;
        }
        
        
          
        .saveBtn
         {
            border: none 1px black;
             background-color:transparent;
            background-image: url(../images/save_button.png);
            width: 136px;
            height: 43px;
            background-repeat: no-repeat;
            background-position: center center;
             cursor:pointer;
        }
        
        
        .icfStampedBtn
          {
            border: none 1px black;
             background-color:transparent;
            background-image: url(../images/stamped_approval_button.png);
            width: 136px;
            height: 43px;
            background-repeat: no-repeat;
            background-position: center center;
            cursor:pointer;
        }

    .icfReferenceDocBtn
        {
            border: none 1px black;
             background-color:transparent;
            background-image: url(../images/reference_button.png);
            width: 136px;
            height: 43px;
            background-repeat: no-repeat;
            background-position: center center;
            cursor:pointer;
        }



    .icfTemplateBtn
    {
            border: none 1px black;
             background-color:transparent;
            background-image: url(../images/icf_template_button.png);
            width: 136px;
            height: 43px;
            background-repeat: no-repeat;
            background-position: center center;
            cursor:pointer;
        }

    .logInBtn
    {
            border: none 1px black;
             background-color:transparent;
            background-image: url(../images/log_in_button.png);
            width: 136px;
            height: 43px;
            background-repeat: no-repeat;
            background-position: center center;
            cursor:pointer;
        }
        
        
        .logInBtn2
    { 
         size:14px;      
          font-size:14px; 
            background-image: url(../images/register_button.png);
            width: 136px;
            height: 43px;
            background-repeat: no-repeat;
            background-position: center center;
            cursor:pointer;
        }
        
        
        .middleAlign
        {
             vertical-align:middle;
        }
        
        .smallInfo
        {
            
            font-size: 8px;
            text-align: center;
        }
 
 
  .patientIDLabel
        {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: bold;
            width:130px;
        }
        
          .patientNum
        {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: bold;
            color:Green;
        }
        
        
          .emailLink
        {
            color:Black; 
            text-decoration:none;  
        }
        
        .errorMssg
        {
           font-size:14px;
           color:red;
           margin:0 auto; 
           width:100%;
           padding:10px;
           font-weight:bold;
             
        }
        
        .errorDyn
        {
           font-size:11px;
           color:red;
           margin:0  ; 
           padding: 0px;
             
        }
        
        .recordValues 
        {
            font-size: 12px; 
            color:Red;
            font-weight:bold;
        }
        
        .nextSteps
        {
          font-size:25px;
          font-weight:bold;   
        }
        
        .clinicalRation
        {
          padding:15px;
          font-weight:bold;
          font-size:16px;
          color :#900;   
        }
        
        .note
        {
            
            color: #c00;
            font-size:14px;
            font-weight:bold;
              
        }
        
        .question
        {
             font-size:12px;
             font-weight:bold;
        }
        
        
        


.sameColorLink:link, 
.sameColorLink:visited
{
    color: #394ea2;
}

.sameColorLink:hover
{
      color: #394ea2;
}

.sameColorLink:active
{
      color: #394ea2;
}

    /*         
    
 .acceptMOUInactive
     {
         font-size:14px;

    /*         
    
 .acceptMOUInactive
     {
         font-size:14px;
       color: #555555;
       font-style:oblique;
         
     }
     .acceptMOUActive
     {
         font-weight:bolder;
         font-style:normal;
         color: #000;
     }

*/