@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";

    Layout = "~/Views/Shared/_Layout_Demo.cshtml";
}

<!-- slider -->
<div class="slider-outer">
    <div class="slider-container">
        <div id="camera_wrap">

            <div data-src="assets/images/demo/slides/1.jpg">
                <div class="camera_caption fadeFromBottom">
                    Touch Optimized Responsive Slider!
                </div>
            </div>

            <div data-src="assets/images/demo/slides/2.jpg">
                <div class="camera_caption fadeFromBottom">
                    24 Effects, Optional Captions!
                </div>
            </div>

            <div data-src="assets/images/demo/slides/3.jpg">
                <div class="camera_caption fadeFromBottom">
                    &laquo; Swipe With Your Finger &raquo;
                </div>
            </div>

            <div data-src="assets/images/demo/slides/4.jpg">
            </div>

        </div>
    </div>
    <br class="clear" />
</div>
<!-- /slider -->
<div class="shadow1box">
    <img src="assets/images/shadow1.png" class="shadow1" alt="shadow">
</div>

<div class="content-padd">

    <hr class="ornamental" />
    <h3 class="home-title">Welcome to Cholestabetes!</h3>
    <hr class="ornamental" />
    <!-- navigation -->
    <ul data-role="listview" data-inset="true" id="listview" style="margin-bottom:0px">

        <li>@Html.ActionLink("MOU", "MOU", "Visit", null, null)</li>
        <li><a href="page-styles.html" data-prefetch>Payee info</a></li>
        <li><a href="icons.html" data-transition="flip" data-prefetch>E-Portal</a></li>
        <li><a href="contact.php" data-prefetch data-ajax="false">Contact Form</a></li>
    </ul>

    <div class="shadow2box"><img src="assets/images/shadow2.png" class="shadow2" alt="shadow"></div>
    <!-- /navigation -->


    @*<p>With 20+ page styles and over 60 HD navigation icons creating a mobile website for your business has never been easier!</p>

    <p>Clients can get directions or  call you with one click, check your Twitter feed on the move, even view your recent projects in a touch optimized gallery!</p>*@
    
</div>
